*{
	/*border: 1px solid red;*/
}
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	background: #333333;
}
aside{
	position: fixed;
	left: 0px;
	top: 0px;
	height: 1045px;
	width: 150px;
	
	background: rgba(51, 51, 51, 0.75);

}

aside ul{
	list-style:none;
	position:absolute;
	bottom: 250px;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap:45px;
}

aside ul li{
	width: 40px;
}
aside ul li div{
	border-left:3px solid #C4C4C4;
	width: 3px;
	height: 80px;
	position: absolute;
	bottom: 270px;
	left: 53px;
}

aside ul li p{
	text-transform: uppercase;
	transform: rotate(-90deg);
	width: 242px;
	position: absolute;
	left: -68px;
	bottom: 490px;

}

#divfirst{
	position: relative;
	top:0px;
	background: url(../img/first/Rectangle3.png) no-repeat;
	background-size: 100%;
	width: auto;
	height: 1045px;
}

nav{
	top: 0px;
	position: relative;
	margin:auto;
	width: 1110px;
	padding-top: 50px;
}

nav ul{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	padding: 0px;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

section#first{
	position: relative;
	width: 1110px;
	margin:auto;
	display: grid;
	grid-template-columns: 600px auto;

}

#txt,.wrapper{
	top: 191px;
	position: relative;
}

#txt h1,p{
	color:white; 
}
#txt h1{
	font-size:64px; 
}

#txt p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#txt p#button{
	color: white;

}

#txt p#button button{
	background: rgba(209, 169, 84, 1);

}

div.wrapper{
	position: relative;
}

div.wrapper div.slider{
	padding-left: 125px;
}

#one{
	position: relative;
	z-index: 2;
}

#two{
	position: absolute;
	left: 150px;
	top: 25px;
	z-index: 1;
}


button{
	color: white;
	width: 300px;
	height: 100px;
	font-size: 40px;
}




section#second{
	height: 700px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(1,1fr); 
}

.colorword{
	color: #D1A954;
}

section#second p#about{
	margin:auto;
	position: relative;
	top: 150px;
	font-size: 48px;
	font-weight: lighter;
	text-transform: uppercase;
}

div#TIAbout{
	margin:auto;
	display: grid;
	grid-template-columns: repeat(1,1fr) 255px auto;
	grid-column-gap: 40px; 
}

div#TIAbout p#how{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	width: 445px;
	margin-top: 40px;
}
 #samii , #nemnogo{
 	font-size:21px;
 }
 #secondimg{
 	margin: auto;
 }

section#third{
	display: grid;
	grid-template-columns: repeat(1,1fr);

}

#our{
	margin: auto;
	font-size: 48px;
	padding-top:100px;
	padding-bottom: 100px;
	text-transform: uppercase;
}

 section#third div.wrapper1{
	position: relative;
	margin: auto;
	
 }

 section#third div.wrapper1 div.slidercss{
	position: relative;
	display: grid;
	grid-template-columns: 443px 443px 443px 443px;
	padding-left: 150px;
 }

 .color{
 	background-color: rgba(51, 51, 51, 0.65);
 	height: 550px;
 	width: 442px;
 	z-index: 2;
 	position: absolute;
 }

.slider_iten1,.slider_iten2,.slider_iten3,.slider_iten4{
	position: relative;

	
}


.round_case{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(209, 169, 84, 1);
	top: 35%;
	left: 35%;
	opacity: 0;
}
.round{
	position: relative;
	top: 35%;
	left: 35%;
}
.passiv{
	z-index: 4;
}



.slider_iten1 p.up,.slider_iten2 p.up,.slider_iten3 p.up,.slider_iten4 p.up{
	position: absolute;
	left: 40px;
	top: 40px;
	font-size: 24px;
	text-transform: uppercase;
	z-index: 3;

}
.slider_iten1 p.down,.slider_iten2 p.down,.slider_iten3 p.down,.slider_iten4 p.down{
	position: absolute;
	transform: rotate(-90deg);
	bottom: 39px;
	z-index: 3;
}



.slider_iten1:hover .passiv{
	 opacity: 0;
  
}
.round_case:hover{
	content: '›';
  
}
.slider_iten1:hover .round_case{
	 opacity: 1;
  
}

.slider_iten2:hover .passiv{
	 opacity: 0;
  
}

.slider_iten2:hover .round_case{
	 opacity: 1;
  
}

.slider_iten3:hover .passiv{
	 opacity: 0;
  
}

.slider_iten3:hover .round_case{
	 opacity: 1;
  
}

.slider_iten4:hover .passiv{
	 opacity: 0;
  
}

.slider_iten4:hover .round_case{
	 opacity: 1;
  
}



section#fourth{
 	margin: auto;
 	position: relative;
 	height: 550px;
 	width: 1110px;
 	padding-top: 150px;

}
.back{
	margin:auto;
	padding-top: 90px;
	padding-bottom: 90px;
	background: url(../img/fourth/Rectangle29.png) no-repeat;
 	background-size: 100%;
 	height: 300px;
 	display: grid;
 	grid-template-columns: 430px auto;
}

.data ul{
	list-style: none;
	padding-left: 200px;
}

.data ul li{
	color: #D1A954;
	font-size:72px;

}

.rating ul{
	list-style: none;
	padding-top: 50px;
}

.rating ul li p{
	font-size: 36px;
	width: 550px;
	margin:0px;
}



.star {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: rgba(209, 169, 84, 1);
  position: relative;
}

.star:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: rgba(209, 169, 84, 1);
  z-index: 1;
}

.star,
.star:before {
  -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
  clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}

section#fifth{
	    height: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

section#fifth p{
	margin:auto;
	position: relative;
	font-size: 48px;
	font-weight: lighter;
	text-transform: uppercase;
}

section#fifth div.gogo{
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 80px;
	grid-row-gap: 100px;
}

section#sixth{
	    height: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

section#sixth p#title{
	margin:auto;
	position: relative;
	font-size: 48px;
	font-weight: lighter;
	text-transform: uppercase;
}

.list ul{
	list-style: none;
	padding: 0px;
}

.tobe{
	margin:auto;
	display: grid;
	grid-template-columns: 350px auto;
}

.input{
	display: grid;
	grid-template-columns: 460px auto;
}



input{
	width: 180px;
	height: 35px;
	margin-bottom: 40px;
	margin-right: 30px;
	background-color:rgba(51, 51, 51, 1);
	border: 1px solid rgba(97, 97, 97, 1);
}

textarea{
	height: 116px;
	width: 310px;
	background-color:rgba(51, 51, 51, 1);

}

.text{
	position: relative;
	display: grid;
	grid-template-columns: 600px auto;
	width: 770px;
	margin: 0px;

}

.aa{
	margin: 0px;
	color: rgba(152, 152, 152, 1);
	font-size: 12px;
	font-family: Open Sans;

}
#go{
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 0px;
	
	background: rgba(209, 169, 84, 1);
	width: 190px;
	height: 50px;
	color: white;
}


footer{
	margin: auto;
	position: relative;
	
	display: grid;
	grid-template-columns: repeat(1,1fr);
}

.container{
	margin:auto;
}

#linia{
	height: 2px;
	border: 1px solid;
	background-color: rgba(152, 152, 152, 1);
	border-color:rgba(152, 152, 152, 1);
	width: 1110px;
}

#typText{
	position: relative;
	display: grid;
	grid-template-columns: repeat(2,1fr);
}

#typText p{
	color:rgba(152, 152, 152, 1);

}
#right1{
	right: 0px;
	margin-right: 0px;
	position: absolute;
	color:rgba(152, 152, 152, 1);

}


@media screen and (max-width: 992px) {
	.wrapper{
		display: none;
	}
	section#first{
		grid-template-columns: repeat(1,1fr);
	}
	nav ul{
		grid-template-columns: repeat(5,1fr);

		padding-left: 150px;
	}
	li#number{
		position: absolute;
		left: 40%;
		top: 125px;
	}
	div#txt{
		padding-left: 150px;
		width: 540px;
		margin-bottom: 150px;

	}
	div#divfirst{
		width: auto;
	}
}


